<footer class="app-footer">

  <div class="barre">
    
    <div class="app-name">DSF REPORT</div>
    
    <div class="barre1"></div>
    <div class="barre2"></div>

    <div class="app-copyright">
      <i aria-hidden="true" class="fa fa-copyright">
        2019 @Copyright. Baotec tous droits reservés
      </i>
    </div>

  </div>

  <div class="logo">
    <a routerlink="/dashboard" ng-reflect-router-link="/dashboard" href="#/dashboard">
      <img src="assets/images/logo.png" alt="nkap.header.logo.alt.message">
    </a>
  </div>

</footer>
